*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.grid{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 15px;
  grid-auto-rows: 400px;
}

.grid div{
    margin: 20px;
}
 .inner-grid-1{
  background-image: url('../image/index2.png');
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 2;
  overflow: hidden;
  position: relative;
 }
 .inner-grid-1:hover::after{
	opacity: 1;
	bottom: 0;
}

.inner-grid-1::after{
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: -30%;
	content: attr(text);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
	padding: 10px;
	opacity: 0;
	transition: opacity .5s ease, bottom .5s ease;
}
 .inner-grid-2{
  background-image: url('../image/index3.png');
  background-size: cover; 
  grid-column-start: 2;
  grid-column-end: 4;
 }
 .inner-grid-3{
  background-image: url('../image/index4.png');
  background-size: cover; 
  grid-column-start: 1;
  grid-column-end: 4;
 }
 .inner-grid-4{
  background-image: url('../image/index8.png');
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 3;
 }
.inner-grid-5{
  background-image: url('../image/index7.png');
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 4;
 }

.img{
	width: 100%;
	height: 100%;
}
.form{
	display: flex;
}

.info{
	background-color: #34495E;
	height: 665px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image_address{
	height: 665px;
	width: 50%;
}

button{
	height: 59px;
	width: 191px;
	background-color: #34495E;
	border: 5px solid white;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	color: #FFFFFF;
	cursor: pointer;
	margin-left: 370px;

}

label{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	color: #FFFFFF;
}

input{
	width: 556px;
	height: 59px;
}

input{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	align-items: center;
	color: #000000;
	margin-bottom: 20px;
	margin-top: 20px;
}

.field{
	display: flex;
}

.button{
	width: 556px;
	height: 59px;
}

a{
	text-decoration: none;
	font-size: 50px;
	color: white;
}

.radio-form .radio-control .radio-input i {
	color: white;
	font-size: 70px;
}

.radio-form .radio-control input {
    display: none;
    
    
}

.radio-form .radio-control input:checked + .radio-input i{
	color: red;
}
 
   
 
  @media (max-width: 800px){
    .grid{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 251px);
    }
  
    .inner-grid-1{
      grid-column-start: 1;
      grid-column-end: 2;
    }
  
    .inner-grid-2{
      grid-column-start: 1;
      grid-column-end: 2;
    }
  
    .inner-grid-3{
      grid-column-start: 1;
      grid-column-end: 2;
    }
  
    .inner-grid-4{
      grid-column-start: 1;
      grid-column-end: 2;
    }
  
    .inner-grid-5{
      grid-column-start: 1;
      grid-column-end: 2;
    }
  
    .form{
      flex-direction: column;
    }
  
    .info{
      width: 100%;
    }
  
    .image_address{
      width: 100%;
    }
 } 
 
 
