*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.grid{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 15px;
  grid-auto-rows: 400px;
}

.grid div{
    margin: 20px;
}


 .inner-grid-1{
  background-image: url('../image/index2.png');
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 2;
 }
 .inner-grid-2{
  background-image: url('../image/index3.png');
  background-size: cover; 
  grid-column-start: 2;
  grid-column-end: 4;
 }
 .inner-grid-3{
  background-image: url('../image/index4.png');
  background-size: cover; 
  grid-column-start: 1;
  grid-column-end: 4;
 }
 .inner-grid-4{
  background-image: url('../image/index8.png');
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 3;
 }
.inner-grid-5{
  background-image: url('../image/index7.png');
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 4;
 }

	
	 .address{
	   display: flex;
	  justify-content: space-around;
	  padding: 30px;
	  align-items: center;
	  width: 100%;
	  height: 100%;
	}

	.address .address_text{
	    /*background-color: yellow;*/
	    width: 50%;
	    text-align: center;
	}

	.text-p {
	    padding: 5px;
	}

	.e-mail{
	    text-decoration: underline;
	}

	.address .image_address{    
	    width: 50%;
	    height: 50%;
	}
 
   
 
 /* @media (max-width: 1200px){
     .grid{
        display: grid;
      }

      .inner-grid-1{
        background-image: url('../image/image_6.jpg');
        background-size: cover;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
       }
       .inner-grid-2{
        background-image: url('../image/image_16.jpg');
        background-size: cover; 
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
       }
       .inner-grid-3{
        background-image: url('../image/image_17.jpg');
        background-size: cover; 
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
       }
       .inner-grid-4{
        background-image: url('../image/image_7.jpg');
        background-size: cover;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
       }  
    
 } */
 
 
